.Rproj.user
.Rhistory
.RData
.Ruserdata
course_project_instructions.odt
data-products-shiny.Rproj
datos_inventados.ods
datos_prueba_seguros.csv
datos_prueba_seguros.ods
draft.R
draft2.R
draft3.R
draft_app
especificaciones.md
insurance_recomendation.odt
pantalla.xcf
test-figure
test.Rpres
test.md
